* {
  box-sizing: border-box;
  align-items: center;
  background-color: #0000;
 }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;

}

.container {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;  
}

/* NAV BAR*/
#navBar {
  left: 0px;
  height: 40px;
  background-color: #0000;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: 100%;
  height: auto;
}

#navBar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
#navBar ul li {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}

#navBar ul li a {
  text-decoration: none;
  padding: 10px 50px;
  display: block;
  text-align: center;
  font-size: larger;
  font-family: "Architects Daughter", sans-serif;
  font-size: 22px;
  color: #f5deb3;
}

body {
  background-image: url(img/logoDarkBlur-min.jpg);
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-color: #0000;
  background-size: 100%;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

h1 {
  color: #f5deb3;
  text-align: center;
}

/*MAIN PAGE TRAILER*/
.video {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  max-width: 100%;
  height: auto;
}

/*MAIN PAGE ABOUT & CREDITS*/
.synop {
  color: #f5deb3;
  align-items: center;
  text-align: center;
  padding: 10px;
  line-height: 50px;
  font-family: "Architects Daughter", sans-serif;
  letter-spacing: 2px;
  max-width: 100%;
  height: auto;
}

.credits {
  color: #f5deb3;
  line-height: 50px;
  font-family: "Architects Daughter", sans-serif;
  text-align: center;
  font-size: larger;
  padding: 70px 0;
}


/*FOOTER*/

.social{
 display: flex;
 flex-direction: row;
 align-items: center;
}

.social a{
  margin-right: auto;
  margin-left: auto;
 }

a:hover {
  opacity: 50%;
}

.social img{
 
  width:75%;
  padding: 25px;
 
}

/* VIDEOS PAGE*/
.video-title {
  color: #f5deb3;
  text-align: center;
  text-decoration: underline;
  max-width: 100%;
  height: auto;
  font-family: "Architects Daughter", sans-serif;
  letter-spacing: 2px;
}

/*CASTING*/
pre {
  padding-right: 75px;
}

/*PHOTOS PAGE */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  padding-top: 15px;
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/7 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

